[submodule "ll001-demo"]
	path = ll001-demo
	url = git@github.com:AlexLievense/ll001-demo.git
[submodule "ll002-blog"]
	path = ll002-blog
	url = git@github.com:AlexLievense/ll002-blog.git
[submodule "ll003-breeze-demo"]
	path = ll003-breeze-demo
	url = git@github.com:AlexLievense/ll003-breeze-demo.git
[submodule "ll004-pixel-positions"]
	path = ll004-pixel-positions
	url = git@github.com:AlexLievense/ll004-pixel-positions.git
